* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    margin: 0%;
}

main{
    display: flex;
    justify-content: center;
}

.container {
    padding: 0;
    margin: 5rem 0;
    border: 2px solid white;
    width: 70%;
    background-color: rgb(255, 60, 60);
}

main .row div {
    padding: 5vw;
}


.cabecalho {
    border-bottom: 0.3vw solid white;
}

.navbar-brand {
    padding: 0;
}