body {
    background-color: black;
    margin: 0%;
}

header {
    position: relative;
}

.cabecalho {
    background-color: rgb(255, 60, 60);
    border-bottom: 0.3vw solid white;
    padding: 0px;
    margin: 0%;
}

.texto {
    text-align: center;
    background-color: white;
    margin-left: 10%;
    text-align: justify;
    max-width: fit-content;
    max-height: fit-content;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}